@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;



.contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;


  &-main{
    padding: 1rem 2rem 4rem 4rem;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3rem;
  }
  &-logo{
    width: 5rem;
    height: 3rem;
  }
  &-title{
    font-weight:bold ;
    padding-bottom: 1rem;
  }
  &-paragraph{
    padding-bottom: 1rem;
    font-size: 16px;
  }
  &-form{
    width: 100%;
  }
  &-company{
    font-size: 14px;
  }
  &-number{
    font-size: 14px;
  }
  &-input{
    width: 100%;
    height: 4rem;
    margin: .5rem 0 1rem 0;
    background-color: $white;
    padding: 1rem;
    border: 1.5px solid $white;
    border-radius: 8px;
    border-color: rgb(228, 230, 233);
  }
  &-detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    

    &__country{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      &-name{
        font-size: 14px;
      }
      &-input{
        height: 4rem;
        margin: .5rem 0 1rem 0;
        background-color: $white;
        padding: 1rem;
        border: 1.5px solid $white;
        border-radius: 8px;
        border-color: rgb(228, 230, 233);
      }
    }

    &__time{
      display: flex;
      flex-direction: column;
      width: 45%;

      &-zone{
        font-size: 14px;
      }
      

      &-input{
        height: 4rem;
        margin: .5rem 0 1rem 0;
        background-color: $white;
        padding: 1rem;
        border: 1.5px solid $white;
        border-radius: 8px;
        border-color: rgb(228, 230, 233);
      }
    }
  }
  

  &-img{
    background-color:$white;

    &__lars{
      height: 100vh;
      width: 100%;
      padding-top: 6rem;
      margin-right: 5rem;

    }
  }
  &-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 9rem;
  }
  &-btn{  
    width: 15%;
    height: 2.5rem;
    background-color: $skyblue;
    color: $white;
    border: none;
    border-radius: 4px;
    order: 1;
    margin-bottom: 2rem;
  }
}

