
.error {
    color: red;
    max-width: 35rem;
    font-size: .75rem;
    padding-bottom: .5rem;
    &__img {
        position: relative;
        top: 0.3rem;
        width: 1.125rem;
    }
}
.not-visible {
    display: none;
}