// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colours
$darkblue: #14305E;
$turquoise: #0A8B8C;
$white: #F6F6F7;
$gold: #D2A764;
$lightgold: #fad38E;
$darkgrey: #2e3034;
$skyblue:#0A5AC2
