@use '../../styles/partials/variables' as *;

img {
    height: 3rem;
    width: 3rem;
}

.account {
    display: flex;
    &__sidebar-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 0.5rem;
        background-color: #f7f8fa;
        z-index: 10;
    }
}

.main {
    &__header{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.footer-account {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0 4rem 1.5rem 0;
    border-top: 3px solid grey;
    padding-top: 1rem;
    width: 100%;
    height: 4.2rem;

    &__section {
        display: flex;
        justify-content: space-between;
        margin-right: 4rem;
    }
    &__btn {
        background-color: #085AC1;
        border: none;
        color: white;
        padding: 1rem;
        margin-left: 2rem;

    }
    &__link {
        padding: 1rem;
        font-weight: 600;
    }
}

.example-img {
    height: 80vh;
    width: 40vw;
    margin-top: 4rem;
}