@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/reset' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.container-large {
    display: flex;
}



.company-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    &__logo {
        // height: 2rem;
        width: 8.577rem;
        padding-bottom: 1rem;
    }

    &__lars {
        display: none;

        @include desktop {
            display: block;
        }

        &-title {
            display: none;

            @include desktop {
                display: block;
            }
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.25rem;
        padding-bottom: 1rem;
    }
}